[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Type=simple
User=jarvis
WorkingDirectory={{ proj_dir_devel }}
ExecStart="{{ venv_dir_devel }}/venv/bin/gunicorn" -b 127.0.0.1:{{ port_devel }} {{ app_name }}.wsgi

[Install]
WantedBy=multi-user.target